

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




#head {position:relative;}

#site-wrapper {width:2400px;
               height:75px;
               background-color:black;}
               
#site-header h1 {position:absolute;
                top:75px;
                margin:0px;
                padding:0px;
                border-bottom:solid;
                border:900px;}

#top-nav a  {position:absolute;
             right:20px;
             top:20px;
             font-size:12pt;
             color: rgb(199,21,130);
             text-decoration:none;
             font-family:georgia;}

#main-menu {position:absolute;
            width:1200px;
            list-style-type:none;
            margin:0;
            padding:0px;
            top:50px;
            left:15px;
            letter-spacing:1pt;}

#main-menu li {display:inline;}

#main-menu a {color:rgb(199,21,130);
			  font-size:22pt;
			  text-decoration:none;
			  margin:0;
              padding:15px;
              font-family:gill sans;
              text-transform:uppercase;}

#homepage h1 {position:absolute;
    font-family:georgia;
	font-size:20pt;
	font-weight:bold;
	top:150px;
	right:105px;}

#homepage h2 {position:absolute;
    top:210px;
    font-family:georgia;
    font-size:16pt;
    right:105px;}
             
#homepage p {position:absolute;
			 right:105px;
			 top:240px;
			 font-family:georgia;
			 font-size:16pt;}
			 
#sidebar h1 {position:absolute;
             top:450px;
             font-family:georgia;
             font-size:16pt;
             right:120px;
             color:rgb(199,21,130)}
             
#sidebar ul li {display:inline;
                position:relative;
                top:450px;
                left:315px;
                padding:15px;}
        
#sidebar li a {top:450px;
               padding:5px;}

#sidebar li h1 {top:30px;
                left:32px;
                width:150px;
                font-family:gill sans;
                text-transform:uppercase;
                font-size:12pt;}
                
#footer-wrapper {position:absolute;
                 left:0px;
                 top:745px;
                 background-color:black;
                 height:50px;
                 width:1500px;}

	
	









